.contact {
    margin: 120px 0 60px 0;
    &__wrapper {
        display: flex;
        flex-direction: row;
        img {
            margin-left: 50px;
        }
    }
    &__wrap {
        margin-left: 70px;
        width: 585px;
    }
    &__subtitle {
        position: relative;
        @include before_circule;
    }
    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }
    &__social {
        margin-top: 20px;        
    }
}

@media (max-width: 320px) {
    .contact {
        margin: 40px 0 10px 0;
        &__wrapper {
            flex-direction: column;
            img {
                display: none;
            }
        }
        &__wrap {
            margin: 0;
            width: 300px;
        }
    }
}