.form {
    margin-top: 20px;
    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }
    &__input {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45px 190px;
        gap: 25px;
        font-size: 12px;
        line-height: 18px;
    }
    &__block {
        position: relative;
        &_big {
            grid-column: 1/3;
        }
        input {
            border: 1px solid #000000;
            height: 100%;
            width: 100%;
            padding: 20px;
        }
        textarea {
            border: 1px solid #000000;
            height: 100%;
            width: 100%;
            padding: 20px;
            resize: none;
        }
    }
    &__name {
        position: absolute;
        background-color: #fff;
        padding: 0 8px;
        top: -9px;
        left: 12px;
    }
    &__btns {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        button {
            margin-right: 35px;
        }
    }
    &__policy {
        font-size: 12px;
        line-height: 18px;
        input {
            width: 11px;
            height: 11px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 320px) {
    .form {
        &__input {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 45px 45px 140px;
            gap: 20px;
        }
        &__block {
            &_big {
                grid-column: 1/2;
            }
            input {
                padding: 10px;
            }
            textarea {
                padding: 10px;
            }
        }
        &__btns {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 10px;
            align-items: center;
            button {
                margin: 10px 0;
            }
        }
    }
}