.title {
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #000;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
        margin-left: 10px;
        z-index: 2;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
        margin-left: 10px;
        z-index: 2;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        font-size: 48px;
        margin-top: 10px;
    }
    &__circule {
        &_small {
            @include block_circule;
        }
        &_big {
            position: relative;
            @include before_circule;
            left: calc(50% + -8px);
            top: -6px;
        }
    }
    &__line {
        margin: 0 auto;
        margin-top: 25px;
        width: 60px;
        border: none;
        border-top: 3px solid $main-color;
        &_left {
            margin: 0;
        }
    }
}

@media (max-width: 320px) {
    .title {
        &_fz24 {
            font-size: 24px;
            line-height: 36px;
            margin-top: 20px;
        }
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }
        &__line {
            margin-top: 20px;
        }
    }
}